<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriesController</servlet-name>
        <servlet-class>controller.CategoriesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>controller.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsController</servlet-name>
        <servlet-class>controller.OrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierController</servlet-name>
        <servlet-class>controller.SupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/productcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriesController</servlet-name>
        <url-pattern>/categoriescontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/employeecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsController</servlet-name>
        <url-pattern>/orderdetailscontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierController</servlet-name>
        <url-pattern>/suppliercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/ordercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartURL</url-pattern>
    </servlet-mapping>
</web-app>
